<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="red.guih.games">

    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/game"
        android:label="@string/app_name"
        android:roundIcon="@drawable/game"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".GamesActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".freecell.FreeCellActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName=".GamesActivity"></activity>
        <activity
            android:name=".pacman.PacmanActivity"
            android:parentActivityName=".GamesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tetris.TetrisActivity"
            android:parentActivityName=".GamesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dots.DotsActivity"
            android:parentActivityName=".GamesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".minesweeper.MinesweeperActivity"
            android:parentActivityName=".GamesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".labyrinth.LabyrinthActivity"
            android:parentActivityName=".GamesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".madmaze.MadMazeActivity"
            android:parentActivityName=".GamesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".puzzle.PuzzleActivity"
            android:parentActivityName=".GamesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".slidingpuzzle.SlidingPuzzleActivity"
            android:parentActivityName=".GamesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".solitaire.SolitaireActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName=".GamesActivity" />
        <activity
            android:name=".square2048.Square2048Activity"
            android:parentActivityName=".GamesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".japanese.JapaneseActivity"
            android:label="@string/title_activity_japanese"
            android:parentActivityName=".GamesActivity"
            >

        </activity>

        <meta-data
            android:name="AA_DB_VERSION"
            android:value="3" />
    </application>


</manifest>