<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="red.guih.games">

    <application
        android:allowBackup="true"
        android:icon="@drawable/game"
        android:label="@string/app_name"
        android:roundIcon="@drawable/game"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="red.guih.games.GamesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="red.guih.games.pacman.PacmanActivity"
            android:parentActivityName=".GamesActivity" />
        <activity
            android:name="red.guih.games.tetris.TetrisActivity"
            android:parentActivityName=".GamesActivity">

        </activity>
        <activity
            android:name="red.guih.games.dots.DotsActivity"
            android:parentActivityName=".GamesActivity" />
        <activity
            android:name="red.guih.games.minesweeper.MinesweeperActivity"
            android:parentActivityName=".GamesActivity" />
        <activity
            android:name="red.guih.games.labyrinth.LabyrinthActivity"
            android:parentActivityName=".GamesActivity">

        </activity>
        <activity
            android:name="red.guih.games.madmaze.MadMazeActivity"
            android:parentActivityName=".GamesActivity">

        </activity>

    </application>

</manifest>